.placeOrder-container{

   
    margin-left: 15%;
   
  
}
   

.edit-delivery{
    border-bottom: 2px solid gray;
    margin-bottom: 40px;
}

.button-save{
    background-color: red;
    width: 200px;
    height: 30px;
    margin-top: 20px;
    border: royalblue;
    border-radius: 50px;
    color: white;
}
.deliveryDetails{
    margin-right: 200px;
}
