.food-container{
  width: 800px;
    margin: 20%;
    
}
.flex-container{
    display: flex;
}
.margin-container{
  margin-bottom: 5px;
  margin-right: 5px;
}
.img-container img{
    width: 400px;
    margin: 20%;
    margin-right:20% ;
    
}

.btn-container{
    background-color: red;
    width: 100px;
    height: 50px;
    margin-top: 20px;
    border: royalblue;
    border-radius: 50px;
    color: white;
}
