.header {
    margin-top: 30px ;
    margin-left: 100px;
    margin-bottom: 10px;
}
.header img{
    height: 50px;
}
.header button{
    
    border: 1px solid red;
    color: white;
    background-color: red;
    border-radius: 50px;

}
.header a{
    color: black;
}
.header a:hover{
    color: red;
    font-size: large;

}

   